@charset "utf-8";
/* ==================================================

    * layout
    
================================================== */
hr{
    display: none;
}
body,
html{
    overflow-y: auto;
    overflow-x: hidden;
}
body.ovh,
html.ovh{
    overflow: hidden;
}
#dim{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
}

/* header */
#header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #eaeaea;
}
.util-wrap{
    width: 100%;
    background-color: #31343d;
    color: #fff;
}
.util-wrap .inner-layer.wide{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.util-wrap ul > li{
    display: inline-block;
    vertical-align: middle;
}
.util-wrap ul > li > a{
    display: block;
    padding: 13px 0;
    font-size: 1.5rem;
    color: #fff;
    line-height: 1.3;
}
.util-menu > li + li{
    position: relative;
    margin-left: 15px;
    padding-left: 17px;
}
.util-menu > li + li:before{
    display: block;
    content: '';
    clear: both;
    position: absolute;
    top: 16px;
    left: 0;
    width: 1px;
    height: 12px;
    background-color: rgba(255,255,255,0.3);
}
.util-link-menu li + li{
    margin-left: -4px;
}
.util-wrap .util-link-menu li > a{
    padding-left: 20px;
    padding-right: 20px;
}
.util-link-menu li:nth-child(1) > a{
    background-color: #5e657d;
}
.util-link-menu li:nth-child(2) > a{
    background-color: #d64b54;
}
.util-link-menu li:nth-child(3) > a{
    background-color: #374778;
}

.header-wrap > .inner-layer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.header-logo{
    display: inline-block;
    vertical-align: top;
}
.header-logo > a{
    display: block;
    width: 226px;
    height: 50px;
    background-repeat: no-repeat;
    background-image: url('../image/common/h1_logo_on.png');
    background-position: center 0;
}
.gnb{
    margin: 0 -20px;
}
.gnb > li{
    display: inline-block;
    vertical-align: top;
}
.gnb > li > a{
    position: relative;
    display: block;
    padding: 40px 20px;
    font-size: 2rem;
    color: #282828;
    letter-spacing: -0.07em;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}
.gnb > li > ul{
    display: none;
    position: absolute;
    z-index: 1;
}
.gnb > li:not(:first-child) > ul{
    right: 0;
}
.gnb > li > ul > li{
    float: left;
}
.gnb > li > ul > li > a{
    display: block;
    padding: 20px;
    font-size: 1.6rem;
    letter-spacing: -0.07em;
    color: #fff;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}
.gnb > li > ul > li:hover > a{
    text-decoration: underline;
}
.gnb-header,
.btn-menu-open,
.btn-menu-close{
    display: none;
}

/* header active */
#header:before{
    display: block;
    content: '';
    clear: both;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 0;
    background-color: #7f7878;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}
#header.active:before{
    height: 60px;
}

/* footer */
#footer{
    width: 100%;
    padding: 35px 0;
    background-color: #303746;
    color: #858d9c;
}
.footer-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footer-logo{
    width: 210px;
}
.footer-logo > a{
    display: block;
}
.footer-con{
    position: relative;
    width: calc(100% - 211px);
    padding-left: 8%;
    padding-right: 370px;
    font-size: 1.4rem;
    line-height: 1.2;
}
.footer-con .copy{
    margin-top: 15px;
}
.footer-con a{
    color: #858d9c;
}
.footer-con ul:not(.footer-menu) > li{
    display: inline-block;
    position: relative;
    vertical-align: middle;
}
.footer-con ul:not(.footer-menu) > li + li{
    padding-left: 20px;
    margin-left: 18px;
}
.footer-con ul:not(.footer-menu) > li + li:before{
    display: block;
    content: '';
    clear: both;
    position: absolute;
    top: 3px;
    left: 0;
    width: 1px;
    height: 11px;
    background-color: #858d9c;
}
.footer-con ul > li strong{
    color: #ccd0d7;
    font-weight: 600;
}
.footer-menu{
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    vertical-align: top;
}
.footer-menu > li{
    display: inline-block;
    vertical-align: top;
}
.footer-menu > li + li{
    margin-left: 6px;
}
.footer-menu > li > a{
    position: relative;
    display: inline-block;
    width: 180px;
    padding: 12px 20px;
    padding-right: 30px;
    background-color: #1e232c;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
}
.footer-menu > li > a:before{
    display: block;
    content: '>';
    clear: both;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 15px;
    font-size: 1.5rem;
    font-weight: 400;
}